// 
// About
// 

.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom,
        $black 0%,
        #{fade-out($black, 0.1)} 75%,
        #{fade-out($black, 0.2)} 100%);

    p {
        margin-bottom: 5rem;
    }
}

.bio-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom,
        #{fade-out($black, 0.9)} 0%,
        #{fade-out($black, 0.5)} 75%,
        $black 100%),
    url("../assets/img/bg-signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}