// 
// Masthead
// 

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: #FFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-family: $font-family-base;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.8rem;
        background-clip: text;
        line-height: 2rem;
    }

    h2 {
        max-width: 20rem;
        font-size: 1rem;
    }

    @include media-breakpoint-up(md) {
        h1 {
            font-size: 4rem;
            line-height: 4rem;
        }
    }

    @include media-breakpoint-up(lg) {
        height: 100vh;
        padding: 0;

        h1 {
            font-size: 4rem;
            line-height: 4rem;
            letter-spacing: 0.8rem;
        }

        h2 {
            max-width: 30rem;
            font-size: 1.25rem;
        }
    }
}