doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Franco Donadio

        //link(rel='icon', type='image/x-icon', href='assets/favicon-16x16.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.fixed-top
            .container.px-4.px-lg-2
                a.navbar-brand(href='#page-top') franco donadio
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse.text-center
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#projects') Projects
                        li.nav-item
                            a.nav-link(href='#signup') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center.landing-text
                    .wide-text
                        h1.mx-auto.my-0  Film Scoring & 
                        h1.mx-auto.my-0  Music Production

        // About
        //- section#about.about-section.text-center
        //-     .container.px-4.px-lg-5
        //-         .row.gx-4.gx-lg-5
        //-             .col-lg-8
        //-                 p.text-white-50
        //-                     | personal style tags: immersive, strong beat, deep sound, chill, sexy cool main genres: jazz, synnthwave and electronica, experimental rock
        //- <iframe class="player" width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1073087077&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
        // Projects
        section#projects.projects-section
            .container.px-4.px-lg-5
                // Film & Video Games Scoring
                .row.gx-0.mb-4.mb-lg-6
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/VOICOT-CAP.png', alt='...')
                    .col-xl-4.col-lg-5
                        .featured-text.text-left.text-lg-left
                            h4 Scoring for Picture
                            p.text-black-50.mb-0 I find great pleasure in unfolding the universe of sound pictures hide in, giving life to meaning or complementing what's already there, both by sound and silence.   
                            br
                            br
                            p.text-black-50.mb-0 Scoring is my oportunity to meet a team of people and discover unexplored lands. I focus on a hibrid approach that involves orochestral, band instruments, synthesizers and sound processes in order to achieve immersion and storytelling.
                // Process
                .row.gx-0.mb-4.mb-lg-6
                    .col-xl-4.col-lg-5
                        .featured-text.text-right.text-lg-left
                            h4 Process
                            p.text-black-50.mb-0
                                | Grayscale is open source and MIT
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/modular-synth-1.jpg', alt='...')
                        
                // Music Production & Sound Design
                .row.gx-0.mb-4.mb-lg-6
                    .col-xl-4.col-lg-5
                        .featured-text.text-right.text-lg-left
                            h4 Music Production & Sound Design
                            p.text-black-50.mb-0
                                | Grayscale is open source and MIT
                    .col-xl-8.col-lg-7
                        div.img-fluid.mb-3.mb-lg-0
                            <iframe width="100%" height="650" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1275930676&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/franco-donadio" title="Franco Donadio" target="_blank" style="color: #cccccc; text-decoration: none;">Franco Donadio</a> · <a href="https://soundcloud.com/franco-donadio/sets/electronic-music-sound-design" title="Electronic Music &amp; Sound Design" target="_blank" style="color: #cccccc; text-decoration: none;">Electronic Music &amp; Sound Design</a></div>
                
                // Jazz Arrangements
                .row.gx-0.mb-4.mb-lg-6
                    .col-xl-8.col-lg-7
                        div.img-fluid.mb-3.mb-lg-0
                            <iframe width="100%" height="650" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1275931651&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/franco-donadio" title="Franco Donadio" target="_blank" style="color: #cccccc; text-decoration: none;">Franco Donadio</a> · <a href="https://soundcloud.com/franco-donadio/sets/jazz-composition-arrangements" title="Jazz Composition &amp; Arrangements" target="_blank" style="color: #cccccc; text-decoration: none;">Jazz Composition &amp; Arrangements</a></div>
                    .col-xl-4.col-lg-5
                        .featured-text.text-left.text-lg-left
                            h4 Jazz Arrangements
                            p.text-black-50.mb-0
                                | Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!

        // Bio Header   
        section#bio.bio-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-10.col-lg-8.mx-auto.text-center
                        
        // Bio Text
        section.contact-section.bg-black
            .container.bio-text.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                p Text
                p Text
                p Textp Text
                p Text
                p Text
                p Text
                p Textp Text
                p Text
                p Text
                p Textp Text
                p Text
                p Text
                p Text
                p Textp Text

                

        // Contact
        section.contact-section.bg-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Address
                                hr.my-4.mx-auto
                                .small.text-black-50 4923 Market Street, Orlando FL
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='#!') hello@yourdomain.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Phone
                                hr.my-4.mx-auto
                                .small.text-black-50 +1 (555) 902-8832
                .social.d-flex.justify-content-center
                    a.mx-2(href='#!')
                        i.fab.fa-twitter
                    a.mx-2(href='#!')
                        i.fab.fa-facebook-f
                    a.mx-2(href='#!')
                        i.fab.fa-github

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; Your Website 2022

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
