// 
// Global theme styling
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: calc(4.5rem - 1px);
}

body {
    animation: fadein 2s;
    letter-spacing: $base-letter-spacing;
    color: $black;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.container {
    max-width: 1820px !important;
    width: 100vw;
    margin-left: 0;
}

p {
    display: inline;
}

.player {
    position: sticky;
    top: 89.8vh;
}