// 
// Styles
// 

// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./global.scss";

// Components
@import "./components/navbar.scss";
@import "./components/buttons.scss";

// Sections
@import "./sections/masthead.scss";
@import "./sections/about.scss";
@import "./sections/projects.scss";
@import "./sections/signup.scss";
@import "./sections/contact.scss";
@import "./sections/footer.scss";

@font-face {
    font-family: ITCAvantgarde;
    src: url(../assets/fonts/ITC\ Avant\ Garde\ Gothic\ Bold.otf);
}

@font-face {
    font-family: ITCAvantgarde-Light;
    src: url(../assets/fonts/ITC\ Avant\ Garde\ Gothic\ Light.ttf);
}

.mb-lg-6 {
    margin-bottom: 10rem !important;
}

.wide-text {
    width: 100vw;

    @media screen and (min-width: 992px) {
        h1 {
            margin-left: 22% !important;
        }  
    }
    
    @media screen and (max-width: 992px) {
        h1 {
            margin-left: 5vw !important;
        }  
    }
}